@{
    string path = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png">

    <!-- Theme Color -->
    <meta name="theme-color" content="#5867dd">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css">

    <!-- Slick -->
    <link rel="stylesheet" href="~/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/vendors/slick/slick-theme.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="~/vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/assets/css/app.css" type="text/css">
    
    <style>
    	.text-right{
    		direction: ltr;
    	}
	    .text-right::placeholder {
            text-align: right !important;
        }
    </style>
</head>

<body>

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
</div>
<!-- end::page loader -->

<!-- begin::navigation -->
<div class="navigation" style="font-size: 1.1em">
    @* <div class="navigation-icon-menu"> *@
    @*     <ul> *@
    @*         <li class="@(path.StartsWith("/panel/dashboard") || path.StartsWith("/panel/user/") || path.StartsWith("/panel/factors/") || path.StartsWith("/panel/tickets/") ? "active" : "")" data-toggle="tooltip" title="پنل"> *@
    @*             <a href="#navigationDashboards" title="پنل"> *@
    @*                 <i class="icon ti-pie-chart"></i> *@
    @*                 <span class="badge badge-warning">2</span> *@
    @*             </a> *@
    @*         </li> *@
    @*         <li class="@(path.StartsWith("/panel/buy/") ? "active" : "")" data-toggle="tooltip" title="خرید ارز دیجیتال"> *@
    @*             <a href="#navigationApps" title="خرید ارز دیجیتال"> *@
    @*                 <i class="icon ti-package"></i> *@
    @*             </a> *@
    @*         </li> *@
    @*         <li data-toggle="tooltip" title="فروش ارز دیجیتال"> *@
    @*             <a href="#navigationPlugins"> *@
    @*                 <i class="icon ti-brush-alt"></i> *@
    @*             </a> *@
    @*         </li> *@
    @*     </ul> *@
    @*     <ul> *@
    @*         <li data-toggle="tooltip" title="خروج"> *@
    @*             <a href="#" class="go-to-page logout"> *@
    @*                 <i class="icon ti-power-off"></i> *@
    @*             </a> *@
    @*         </li> *@
    @*     </ul> *@
    @* </div> *@
    <div class="navigation-menu-body">
        <ul id="navigationDashboards" class="navigation-active">
            <li>
                <a class="@(path == "/panel/dashboard" ? "active" : "")" asp-area="Panel" asp-controller="Dashboard" asp-action="Index">داشبورد</a>
            </li>
            <li class="@(path.StartsWith("/panel/buy/") ? "open" : "")">
                <a href="#">خرید ارز دیجیتال</a>
                <ul>
                    <li>
						<a class="@(path == "/panel/buy/bitcoin" ? "active" : "")" asp-area="Panel" asp-controller="Purchase" asp-action="Index" asp-route-displayUrl="bitcoin">خرید بیت کوین</a>
                    </li>
                </ul>
            </li>
            <li class="@(path.StartsWith("/panel/sell/") ? "open" : "")">
                <a href="#">فروش ارز دیجیتال</a>
                <ul>
					<li>
		                 <a class="@(path == "/panel/sell/bitcoin" ? "active" : "")" asp-area="Panel" asp-controller="Sells" asp-action="Index" asp-route-displayUrl="bitcoin">فروش بیت کوین</a>
		             </li>
                </ul>
            </li>
            <li>
                <a class="@(path == "/panel/tickets/list" || path.StartsWith("/panel/tickets/details") ? "active" : "")" asp-area="Panel" asp-controller="Tickets" asp-action="Index">تیکت ها </a>
            </li>
            <li class="@(path.StartsWith("/panel/factors/") ? "open" : "")">
                <a href="#">فاکتورها</a>
                <ul>
                    <li>
                        <a asp-area="Panel" asp-controller="Factors" asp-action="Purchases" class="@(path == "/panel/factors/buys" ? "active" : "")">فاکتورهای خرید</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-controller="Factors" asp-action="Sells" class="@(path == "/panel/factors/sells" ? "active" : "")">فاکتورهای فروش</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="@(path.StartsWith("/panel/user") ? "active" : "")" asp-area="Panel" asp-controller="User" asp-action="Index">تنظیمات پروفایل </a>
            </li>
            <li>
	            <a href="#" class="logout">خروج</a>
            </li>
        </ul>
    </div>
</div>
<!-- end::navigation -->

<!-- begin::header -->
<div class="header">

<!-- begin::header logo -->
<div class="header-logo">
    <a href="index.html">
        <img class="large-logo" src="~/assets/media/image/logo.png" alt="image">
        <img class="small-logo" src="~/assets/media/image/logo-sm.png" alt="image">
        <img class="dark-logo" src="~/assets/media/image/logo-dark.png" alt="image">
    </a>
</div>
<!-- end::header logo -->

<!-- begin::header body -->
<div class="header-body">

<div class="header-body-left">

    <h3 class="page-title">داشبورد</h3>

    <!-- begin::breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
        </ol>
    </nav>
    <!-- end::breadcrumb -->

</div>

<div class="header-body-right">
<!-- begin::navbar main body -->
<!-- begin::navbar main body -->
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link" data-toggle="dropdown">
							<i class="ti-bell"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
							<div class="p-4 text-center" data-backround-image="assets/media/image/image1.png">
								<h6 class="m-b-0">اعلان ها</h6>
								<small class="font-size-13 opacity-7">2 اعلان خوانده نشده</small>
							</div>
							<div class="p-3">
								<div class="timeline">
									<div class="timeline-item">
										<div>
											<figure class="avatar avatar-state-danger avatar-sm m-r-15 bring-forward">
												<span class="avatar-title bg-info-bright text-info rounded-circle">
													<i class="fa fa-file-text-o font-size-20"></i>
												</span>
											</figure>
										</div>
										<div>
											<p class="m-b-5">
												<a href="#">استیو جابز</a> یک ضمیمه جدید به تیکت افزود
												<a href="#">گزارش باگ نرم افزار</a>
											</p>
											<small class="text-muted">
												<i class="fa fa-clock-o m-r-5"></i> 8 ساعت پیش
											</small>
										</div>
									</div>
									<div class="timeline-item">
										<div>
											<figure class="avatar avatar-state-danger avatar-sm m-r-15 bring-forward">
												<span class="avatar-title bg-warning-bright text-warning rounded-circle">
													<i class="fa fa-money font-size-20"></i>
												</span>
											</figure>
										</div>
										<div>
											<p class="m-b-5">
												<a href="#">کاترین</a> یک تیکت جدید ثبت کرد
												<a href="#">نحوه پرداخت</a>
											</p>
											<small class="text-muted">
												<i class="fa fa-clock-o m-r-5"></i> دیروز
											</small>
										</div>
									</div>
									<div class="timeline-item">
										<div>
											<figure class="avatar avatar-sm m-r-15 bring-forward">
												<span class="avatar-title bg-success-bright text-success rounded-circle">
													<i class="fa fa-dollar font-size-20"></i>
												</span>
											</figure>
										</div>
										<div>
											<p class="m-b-5">
												<a href="#">کاترین</a> تنظیمات دسته تیکت را تغییر داد
												<a href="#">پرداخت و صورتحساب</a>
											</p>
											<small class="text-muted">
												<i class="fa fa-clock-o m-r-5"></i> 1 روز پیش
											</small>
										</div>
									</div>
								</div>
							</div>
							<div class="p-3 text-right">
								<ul class="list-inline small">
									<li class="list-inline-item">
										<a href="#">علامت خوانده شده به همه</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link logout">
							<i class="ti-power-off"></i>
						</a>
					</li>
				</ul>
				<!-- end::navbar main body -->

				<div class="d-flex align-items-center">
				

					<!-- begin::navbar toggler -->
					<div class="d-xl-none d-lg-none d-sm-block navbar-toggler">
						<a href="#">
							<i class="ti-arrow-down"></i>
						</a>
					</div>
					<!-- end::navbar toggler -->
				</div>
<!-- end::navbar main body -->

<div class="d-flex align-items-center">
    <!-- begin::navbar navigation toggler -->
    <div class="d-xl-none d-lg-none d-sm-block navigation-toggler">
        <a href="#">
            <i class="ti-menu"></i>
        </a>
    </div>
    <!-- end::navbar navigation toggler -->

    <!-- begin::navbar toggler -->
    @*<div class="d-xl-none d-lg-none d-sm-block navbar-toggler">
						<a href="#">
							<i class="ti-arrow-down"></i>
						</a>
					</div>*@
    <!-- end::navbar toggler -->
</div>
</div>

</div>
<!-- end::header body -->

</div>
<!-- end::header -->

<!-- begin::main content -->
<main class="main-content">

    @RenderBody()

</main>

<form asp-action="Logout" asp-controller="User" asp-area="Panel" id="logoutForm">
</form>
<!-- end::main content -->

<!-- Plugin scripts -->
<script src="~/vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="~/vendors/charts/chartjs/chart.min.js"></script>

<!-- Circle progress -->
<script src="~/vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="~/vendors/charts/peity/jquery.peity.min.js"></script>
<script src="~/assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="~/vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="~/vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="~/vendors/vmap/jquery.vmap.min.js"></script>
<script src="~/vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="~/assets/js/examples/vmap.js"></script>

<!-- Dashboard scripts -->
<script src="~/assets/js/examples/dashboard.js"></script>
<div class="colors">
    <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<!-- App scripts -->
<script src="~/assets/js/app.js"></script>
<script src="~/assets/js/custom.js"></script>
<script>
	$(".logout").click(function(){
		$("#logoutForm").submit();
	})
</script>

@(await RenderSectionAsync("Scripts", false))
</body>

</html>